* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.nav-bar {
    list-style: none;
    background: rgba(204,199,252,0.75);
}

.nav-bar li {
    display: inline-block;
    position: relative;
}

.nav-bar li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.nav-bar li ul.dropdown li {
    display: block;
}

.nav-bar li ul.dropdown {
    width: 100%;
    background-color: rgba(189,182,252,0.75);
    position: absolute;
    z-index: 999;
    display: none;
}

.nav-bar li a:hover{
    background-color: rgba(189,182,252,0.75);
    transition: 0.5s;
}

.nav-bar li:hover ul.dropdown {
    display: block;
    border-top: black 1px solid;
    transition: 0.5s;
}

.header-logo{
    width: 100%;
    padding: 30px;
}

video{
    width: 95%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 45px;
}

p1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}